In [1]:
import pandas as pd
import re
from os import system, listdir
from random import shuffle
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
from random import shuffle


directory = './aclImdb/train/neg'
neg = []

for filename in os.listdir(directory):
        f = open(f'{directory}/{filename}', encoding='utf-8')
        lines = f.read()
        neg.append(lines)

directory = './aclImdb/test/pos'
pos = []

for filename in os.listdir(directory):
        f = open(f'{directory}/{filename}', encoding='utf-8')
        lines = f.read()
        pos.append(lines)

directory = './aclImdb/test/neg'


for filename in os.listdir(directory):
        f = open(f'{directory}/{filename}', encoding='utf-8')
        lines = f.read()
        neg.append(lines)

directory = './aclImdb/train/pos'
for filename in os.listdir(directory):
        f = open(f'{directory}/{filename}', encoding='utf-8')
        lines = f.read()
        pos.append(lines)


negative = pd.DataFrame(neg)
negative["label"] = 0
positive = pd.DataFrame(pos)
positive["label"] = 1
all = pd.concat([negative, positive])
all.fillna(0, inplace=True)
all = all.rename(columns={0: "text"}).reset_index(drop=True)
import string
def remove_punctuations(text):
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')
    return text
all['text'] = all['text'].apply(remove_punctuations)
all = all.sample(frac=1).reset_index(drop=True)
all

                                                    text  label
0      Easily the worst movie I have ever seen in my ...      0
1      Ambushed is no ordinary action flick Its much ...      0
2      I loved this movie but then again I am a big C...      1
3      In 1933 Dick Powell and Ruby Keeler sang and d...      1
4      To make any film about the supposed end of the...      0
...                                                  ...    ...
49995  While its true that the movie is somewhat inte...      0
49996  From the upper shelf of great Classic Books co...      1
49997  Good ideashame about the actual movie Would of...      0
49998  An unusual film for an audience outside the US...      1
49999  I really enjoyed The 60s Not being of that gen...      1

[50000 rows x 2 columns]

In [2]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

In [3]:
vectorizer = CountVectorizer(ngram_range=(1, 1), stop_words='english')
vectorizer.fit(all['text'].values)
vectorized = vectorizer.transform(all['text'].values)

idf_transformer = TfidfTransformer()
idf_transformer.fit(vectorized)
listofwords = vectorizer.get_feature_names()
transformed = idf_transformer.transform(vectorized)

In [4]:
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import train_test_split
import numpy as np

y = all['label'].values

X_train, X_test, y_train, y_test = train_test_split(transformed, y)

model = SGDClassifier()
model.fit(X_train, y_train)
train_score = clf.score(X_train, y_train)
test_score = clf.score(X_test, y_test)
prediction = clf.predict(X_test)
print(train_score, test_score)
comparison = zip(prediction,y_test)
comp_df = pd.DataFrame(comparison)
comp_df.head(50)

0.9317866666666667 0.89104

    0  1
0   0  0
1   1  1
2   0  0
3   0  0
4   0  0
5   1  1
6   1  1
7   1  1
8   0  0
9   1  1
10  0  0
11  0  0
12  0  0
13  0  0
14  0  0
15  1  1
16  1  1
17  0  0
18  1  1
19  1  1
20  0  0
21  0  0
22  0  0
23  1  1
24  0  0
25  1  1
26  1  0
27  1  1
28  0  0
29  1  1
30  0  0
31  1  1
32  0  0
33  1  1
34  1  1
35  1  1
36  0  0
37  0  0
38  1  1
39  0  0
40  0  0
41  1  1
42  1  1
43  1  1
44  0  0
45  1  1
46  0  0
47  0  0
48  1  0
49  0  0

In [5]:
print(X_train)

(0, 177219)	0.06064867073112247
  (0, 174654)	0.06390620706490707
  (0, 173659)	0.0553182571226014
  (0, 172764)	0.05775006811500919
  (0, 172179)	0.044483670624848586
  (0, 172029)	0.209049560644247
  (0, 171338)	0.05036885740117296
  (0, 169112)	0.03793172130657826
  (0, 167597)	0.05459352318901869
  (0, 167376)	0.0816202647008793
  (0, 167040)	0.06127155259994756
  (0, 165728)	0.08013898949201938
  (0, 165451)	0.04328751771265208
  (0, 161062)	0.046142664352445226
  (0, 160241)	0.06185957705541855
  (0, 159629)	0.08633301754103288
  (0, 159217)	0.2074265251465489
  (0, 156768)	0.03741527520278621
  (0, 155603)	0.0736086138957696
  (0, 155600)	0.11327230129865778
  (0, 152753)	0.053359992797391904
  (0, 151321)	0.07485982592846223
  (0, 151238)	0.03681853451533682
  (0, 151155)	0.03454056313425026
  (0, 150029)	0.055875360711961704
  :	:
  (37499, 161178)	0.06642144562169844
  (37499, 131423)	0.15980535791884432
  (37499, 122111)	0.054180008834800425
  (37499, 121829)	0.0713667769120991
  (37499, 118130)	0.11270557183818028
  (37499, 114393)	0.22963891589950872
  (37499, 106867)	0.06904861857302026
  (37499, 105377)	0.06189796515039913
  (37499, 94542)	0.28115128558982166
  (37499, 92472)	0.03658656706661781
  (37499, 82506)	0.12236425759121247
  (37499, 81902)	0.20885473061576504
  (37499, 74907)	0.0858631363588149
  (37499, 59823)	0.3609956676329832
  (37499, 44616)	0.08243292660603874
  (37499, 39995)	0.1064432826101222
  (37499, 34483)	0.10290644833116401
  (37499, 31604)	0.0781824518984274
  (37499, 31051)	0.08447926028893188
  (37499, 26930)	0.30479647647227964
  (37499, 22237)	0.2201877284176845
  (37499, 13573)	0.12666208123749076
  (37499, 10599)	0.18265300183348737
  (37499, 5411)	0.09449010124199185
  (37499, 4633)	0.13071784141092768

In [13]:
new_comment = """In all my series and movie watching years I have never seen a serie so well thought through as this. Don't let the language barrier stop you from watching this. Acting and character building are superb. Hint: grab a pen and some paper and keep track ;) Also there is totally no comparison to Stranger Things (and I have seen all 3 seasons) This is in a league of it's own entirely. Well done! Netflix more of this please!!!"""

In [14]:
new_df = pd.DataFrame([new_comment])
new_df[0] = new_df[0].apply(remove_punctuations)

In [15]:
new_df = new_df.rename(columns={0:"text"})
new_df

                                                text
0  In all my series and movie watching years I ha...

In [16]:

X_train_unigram = vectorizer.transform(new_df["text"].values)

X_train_unigram_tf_idf = idf_transformer.transform(X_train_unigram)

new_prediction = clf.predict(X_train_unigram_tf_idf)

In [17]:
if new_prediction[0] == 1:
    text_prediction = "Positive"
else:
    text_prediction = "Negative"
print(text_prediction)

Positive